.product__list {
  display: flex;
  justify-content: space-between;
}

.product__item {
  position: relative;
  padding-top: 138px;
  padding-left: 5px;
  padding-right: 5px;
  max-width: 350px;
  text-align: center;
}

.product__item::before {
  position: absolute;
  top: -175px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 106px;
  height: 106px;
  background-repeat: no-repeat;
  background-position: center;
  content: "";
}

.product__item--personal::before {
  background-image: url("../img/product-img-personal.svg");
}

.product__item--banking::before {
  background-image: url("../img/product-img-banking.svg");
}

.product__item--consumer::before {
  background-image: url("../img/product-img-consumer.svg");
}

.product__title {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.138462px;
  color: #36536b;
}

.product__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.115385px;
  color: #6c8294;
}

@include responsible(975px) {
  .product__item::before {
    width: 88px;
    height: 88px;
    background-size: 88px 88px;
  }
}

@include responsible(757px) {
  .product__list {
    flex-direction: column;
    align-items: center;
  }

  .product__item+.product__item {
    margin-top: 48px;
  }
}

@include responsible(427px) {
  .product__item::before {
    width: 106px;
    height: 106px;
    background-size: 106px 106px;
  }

  .product__item {
    max-width: 100%;
  }
}