.ui-ux {
  padding: 150px 0;
  background-image: url("../img/body-bg-top.png");
  background-repeat: no-repeat;
  background-size: 780px 780px;
  background-position: calc(50% + 700px) center;
}

.ui-ux__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ui-ux__content {
  max-width: 445px;
}

.ui-ux__title {
  margin-bottom: 24px;
  font-family: 'DM Serif Display', serif;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.369231px;
  color: #36536b;

}

.ui-ux__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  color: #6c8294;
}

@include responsible(975px) {
  .ui-ux {
    padding: 100px 0;
    background-image: none;
  }

  .ui-ux__img {
    width: 363px;
    height: 320px;
  }

  .ui-ux__content {
    margin-top: 48px;
    max-width: 90%;
  }

  .ui-ux__inner {
    flex-direction: column-reverse;
    text-align: center;
  }
}

@include responsible(427px) {
  .ui-ux {
    padding: 80px 0;
  }

  .ui-ux__img {
    width: 328px;
    height: 290px;

  }

  .ui-ux__title {
    font-size: 36px;
    line-height: 36px;
  }
}

@include responsible(350px) {
  .ui-ux__img {
    width: 290px;
    height: 260px;
  }
}

@include responsible(300px) {
  .ui-ux__img {
    width: 100%;
    object-fit: cover;
  }
}